body{
    font-family:Arial, Helvetica, sans-serif;
    margin:0px;
    
}

#main-page-header-title{
    margin-top:50px;
    font-size:72px;
    text-align:left;
    font-weight:bold;
}
#main-page-header-description{
    font-size:28px;
    text-align:left;
    width:800px;
    margin-left:20px;
    margin-top:15px;
    
}
#main-page-body{
    font-size:20px;
}
#main-page-body-section1{
    font-size:20px;
}
#main-page-body-section1-image{
    width:auto;
}
#main-page-body-section1-title{
    position:relative;
    left:500px;
    margin-top:75px;
    font-size:20px;
    width:400px;
    text-align:left;
    font-size:44px;

}


#main-page-body-section1-description{
    font-size:24px;
    position:relative;
    left:500px;
    margin-top:15px;
    font-size:20px;
    width:360px;
    text-align:left;
}
#courses-page-header{
    background-color:#f5f1f1;
    height:300px;

}
#courses-page-title{
    text-align:center;
    position:relative;
    right:45px;
    top:60px;
    margin-left:24px;
    font-size:36px;
}

#courses-page-description{
    text-align:center;
    position:relative;
    top:90px;
    width:450px;
    font-size:20px;

}
#courses-page-content img{
    margin-top:35px;
    width:252px;
    height:150px;
}