.navbar{
    overflow:hidden;
    text-align:center;
    display:flex;
    justify-content:space-between;
    background-color:#ffffff;
    width:100%;
    font-size:20px;
}

.navbar a{
    text-align: center;
    padding: 0px 25px;
    text-decoration: none;
}
.navbar a:hover{
    color:black;
}

#lrnx-navbar-page-title{
    font-size:42px;
    margin:0px 55px;
}

#linkdiv{
    display:flex;
    align-items:center;
    margin-right:55px;
    
}

.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color:white;
    z-index:1;
}