body{
    font-family:Arial, Helvetica, sans-serif;
    margin:0px;
    
}
a:link, a:visited {
    color: rgb(117, 5, 197);
}
#main-page-header{
    height:720px;
    background-color:#f5f1f1;
}

#main-page-header-title{
    margin-top:190px;
    font-size:72px;
    text-align:left;
    font-weight:bold;
    margin-left:40px;
}
#main-page-header-description{
    font-size:28px;
    text-align:left;
    width:800px;
    margin-left:50px;
    margin-top:15px;
    
}
#main-page-body{
    font-size:20px;
    width:100%;
    justify-content:center;
}
#main-page-body-section1{
    font-size:20px;
    width:100%;
    justify-content:center;
}
#main-page-body-section1-image{
    width:600px;
    height:350px;
    box-shadow: 5px 15px 50px rgb(39, 36, 36);
    justify-content:center;
}
#main-page-body-section1-title{
    font-size:20px;
    text-align:left;
    font-size:44px;
    justify-content:center;

}


#main-page-body-section1-description{
    font-size:24px;
    margin-top:15px;
    font-size:20px;
    text-align:left;
    justify-content:center;
}
.search-wrapper{
    display:flex;
    flex-direction:column;
    gap: .25rem;
    margin-left:50px;
}
#main-page-body-wrapper{
    width:100%;
    justify-content:center;
}