body{
    font-family:Arial, Helvetica, sans-serif;
    margin:0px;
    
}
a:link, a:visited {
    color: rgb(117, 5, 197);
}
#main-page-header{
    height:660px;
    background-color:#f5f1f1;
}

#main-page-header-title{
    margin-top:190px;
    font-size:72px;
    text-align:left;
    font-weight:bold;
    margin-left:40px;
}
#main-page-header-description{
    font-size:28px;
    text-align:left;
    width:800px;
    margin-left:50px;
    margin-top:15px;
    
}
#main-page-body{
    font-size:20px;
    width:100%;
    justify-content:center;
}
#main-page-body-section1-image-wrapper{
    display:flex;
    justify-content:center;
}
#main-page-body-section1{
    font-size:20px;
    width:100%;
    display:flex;
    justify-content:center;
    height:600px;
}
#main-page-body-section1-image{
    width:600px;
    height:350px;
    box-shadow: 5px 15px 50px rgb(39, 36, 36);
    margin-right:50px;
}
#main-page-body-section1-title{
    font-size:20px;
    text-align:left;
    font-size:46px;
    justify-content:center;
    font-weight:bold;

}
#main-page-body-words-section1-wrapper{
    margin-top:35px;
    margin-left:60px;
    width:500px;
}
#main-page-body-section1-description{
    font-size:24px;
    margin-top:15px;
    font-size:20px;
    text-align:left;
    justify-content:center;
}
.search-wrapper{
    display:flex;
    flex-direction:column;
    gap: .25rem;
    margin-left:50px;
}
#main-page-body-wrapper{
    width:100%;
    justify-content:center;
}
#main-page-body-section2-image-wrapper{
    display:flex;
    justify-content:center;
}
#main-page-body-section2{
    font-size:20px;
    width:100%;
    display:flex;
    justify-content:center;
    height:500px;
    background-color:#4B0082;
}
#main-page-body-section2-image{
    margin-top:30px;
    width:800px;
    height:445px;
    box-shadow: 5px 15px 50px rgb(39, 36, 36);
    margin-left:50px;
}
#main-page-body-section2-title{
    font-size:20px;
    text-align:left;
    font-size:42px;
    justify-content:center;
    font-weight:bold;

}
#main-page-body-words-section2-wrapper{
    margin-top:55px;
    margin-right:60px;
    width:720px;
    color:rgb(232, 227, 227);
}
#main-page-body-section2-description{
    font-size:24px;
    margin-top:15px;
    font-size:20px;
    text-align:left;
    justify-content:center;
}
#main-page-body-section2-description-list-caption{
    font-size:28px;
    font-weight:bold;
}
#main-page-body-section2-description-list-feature{
    margin-left:10px;
    font-size:20px;
}